<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Transfer Money</title>
</head>
<body>
<div align="center">
    <h1>Transfer Money Between Two Accounts</h1>
    <br/>
    <form autocomplete="off" action="#" th:action="@{/transfer}"
          th:object="${account}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Source Account Number:</td>
                <td>
                    <input type="text" readonly id="accountNumber" name="accountNumber"
                           th:field="*{accountNumber}"
                           required/>
                </td>
            </tr>
            <tr>
                <td>Source Account Balance:</td>
                <td>
                    <input type="number" readonly id="balance" name="balance"
                           th:field="*{balance}"
                           required/>
                </td>
            </tr>
            <tr>
                <td>Destination Account Number:</td>
                <td>
                    <input type="text" id="destinationAccountNumber" name="destinationAccountNumber"
                           required/>
                </td>
            </tr>
            <tr>
                <td>Transfer Amount:</td>
                <td>
                    <input type="number" id="transferAmount" name="transferAmount"
                           required/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">TransferMoney</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>