<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>WithDraw </title>
</head>
<body>
<div align="center" style="border: 1px solid black">
    <h1>WithDraw Account</h1>
    <br />
    <form action="#" th:action="@{/withdraw}"
          th:object="${account}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Account Number:</td>
                <td>
                    <input readonly type="text" id="accountNumber" name="accountNumber"
                           th:field="*{accountNumber}"
                           required/>
                </td>
            </tr>
            <tr>
                <td>Balance:</td>
                <td>
                    <input readonly type="text" th:field="*{balance}"
                           required/>
                </td>
            </tr>
            <tr>
                <td>Transaction Amount:</td>
                <td>
                    <input type="number" min="10" id="amount" name="amount"
                           required/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" style="color: red">WithDraw</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>